body {
    padding-top: 80px; 
}

header#faq {
    height: 25vh;
    background-color: #168E81;
}

@media (max-width: 767.98px) {
    header#faq {
        height: 40vh;
    }
}

body, .sticky-footer-wrapper {
    min-height:100vh;
 }
 
 .flex-fill {
    flex:1 1 auto;
}

.question {
    font-size: 2rem;
}

@media (max-width: 767.98px) {
    .question {
        font-size: 1.2rem;
    }
}