@import url('https://fonts.googleapis.com/css?family=Roboto:400');


html {font-size: 100%;} /*16px*/

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

small, .text_small {font-size: 0.75em;}

.color-green {
  background-color: #73D06B;
  border: none;
}

.color-green:hover {
  background-color: rgb(101, 185, 94);
  border: none;
}

.color-green:focus {
  background-color: #73D06B;
  border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}

/* Navbar */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

/* Logo */
img#logo {
  width: 200px;
}

/* Carousel */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

#whoweare .carousel-item {
  height: 95vh;
}

.carousel-inner img {
  background: no-repeat center center fixed;
  background-size: cover;
}
  
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* About Us */
#about {
  background-color: #f8f9fa;
}

#about h2, #about h3{
  /* color: #DC1521; */
}

#about h3 {
  margin-top: 1rem;
}

/* Testimonials */
#testimonials {
  background-color: #168E81; 
}

#testimoCarousel {
  /* height: 30vh; */
}

#testimoCarousel .carousel-inner {
  margin-bottom: 2rem;
}

#testimoCarousel .carousel-indicators {
  bottom: -50px;
}

#testimoCarousel .carousel-control {
  bottom: auto;
  bottom: 110px;
}

/* Contact Modal */
#contactmodal  input[type=submit], #contactmodal  button#save {
  background-color: #168E81;
  border: none;
}

#contactmodal  input[type=submit]:hover, #contactmodal  button#save:hover {
  background-color: rgb(18, 110, 101);
  border: none;
}

@media (max-width: 991.98px) { 
  #whoweare {
    display: none;
  } 
  
  #about {
    margin-top: 4rem;
  }
  
  #contact div#info {
    padding: 0 !important;
  }
}

@media (max-width: 767.98px) { 
  /* Blog */
  ul#articles {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  li.media {
    flex-direction: column;
    padding: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  li.media img {
    align-self: center;
    margin-bottom: 1rem;
  }
}