body {
    padding-top: 80px; 
}

header {
    height: 25vh;
    background-color: #168E81;
}

@media (max-width: 767.98px) {
    header {
        height: 40vh;
    }
}

body, .sticky-footer-wrapper {
    min-height:100vh;
}
 
.flex-fill {
    flex:1 1 auto;
}

.card.person {
    transition: transform 0.3s ease-in-out; 
}

.card.person:hover {
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}